table {
    margin-bottom: 10px;
    border: 1px solid #494949;
    page-break-inside: avoid;
}
td, th {
    border: 1px solid #494949;
    padding: 8px;
}

caption {
    text-align: center;
    caption-side: top;
    color: black;

}

#index {
    background-color: rgb(223, 223, 223);
}
.top-image {
    margin:auto;
    height:suto;
    width:auto;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

.main-heading {
    font-size: 3vw;
    border-bottom: 3px solid currentColor;
    text-align: center;
    padding-bottom: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

#left-content {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

#fma-header {
    border-bottom: 1px solid;
}

#overlap-detail {
    border-top: 1px solid;
}

#overlapping-activities {
    font-style: italic;
    color: cornflowerblue !important;
}

#overlap-header {
    font-weight: bold;
    vertical-align: bottom;
}

.break-after {
    page-break-after: always;
    overflow: visible
}


@page {
    size: legal;
}
.row::after {
    content: '';
    display: table;
    clear: both;
}
.col-sm-1 {
    float: left;
    width: 8%;
}
.col-sm-2 {
    float: left;
    width: 16%
}
.col-sm-3 {
    float: left;
    width: 25%;
}


.col-sm-12 {
    float: left;
    width: 100%;
}
.avoid-break {
    page-break-inside: avoid;
}
